.Applyform_header .avatarImage{
    width: 50%;
}
.verify{
  float: right;
  padding-right: 21px;
}
.verify-botton{
  background-color: #3c736e;
}
.Applyform_header .applyNo {
    width: 50%;
    background-color: #99336e;
    padding: 2%;
    border-radius: 5px;
}

.applicationForm input, select{
    width: 95% !important;
}


