/* Index.html css */
.headerSection{
    padding: 2%;
}
.logoImg{
    width: 6em;
    height: 6em;
}

.headerContent{
    padding: 2%;
}

body{
    background: lightcyan;
}

.mainContents{
    width: 80%;
    margin: auto;
    padding: 0% 0 4% 0%;
    border-radius: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #EFF8FE;
    margin-bottom: 5%;
}

.navBar{
    background-color: black;
    border-radius: 1em 1em 0 0;
    padding: 0 4%;
}

.navbar-brand img{
    width: 2em;
    height: 2em;
}

.navBar .navLinksDiv a {
    /* background: lightcyan; */
    color: white !important;
    border-radius: 0.5em 0em;
    margin: 0 0.3em;
}

.navBar .navLinksDiv a:hover{
    color: darkcyan !important;
    background-color: #f8f9fa;
}

.sidebarHeading{
    margin-bottom: 0.5em;
}
